<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ base_url }}/highlight.css">
  <link rel="stylesheet" href="{{ base_url }}/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS_CHTML" async></script>
  <title>{{ page.title | escape }}</title>
</head>
<body>
  <main>
    {{ content }}
    <footer>
      Content is available under the <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License 1.3 or later</a> unless otherwise noted.
    </footer>
  </main>
</body>
</html>
